<p id="notice"><%= notice %></p>

<%= render partial: 'partials/form_errors',
           locals: { model: @user } %>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-dark-outline tabs-panel">
        <div class="panel-heading"><h4 class="no-margin-top"> <%= @user.user_name %></h4>
          <div class="nav nav-tabs pull-left type-document">
            <%= link_to 'Edit', edit_user_registration_path(@user) %>
            <%= button_to 'sign_out', destroy_user_session_path, method: :delete %>

          </div>
          <div class="clear"></div>
        </div>
        <div class="panel-body tab-content">
          <div class="tab-pane active documents-panel">
            <div class="clear">
              <div class="v-spacing-xs">

              </div>
            </div>
            <ul class="folders list-unstyled">
              <li>
                <i class="fa fa-folder"></i> Files quantity: <%= @user.disk.files.all.count if @user.disk.present? %>
              </li>
              <li><i class="fa fa-folder"></i> Disk free space:
                <%= number_to_human_size(show_disk_space,
                                         precision: 3,
                                         separator: ',') %>
              </li>
            </ul>
            <div class="v-spacing-xs">
              <%= render 'upload', user: @user %></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 tab-content no-bg no-border">
      <% if @user.disk.present? %>
        <div class="row">
          <% @user.disk.files.blobs.each do |file| %>
            <div class="col-lg-3 col-xl-2">
              <a href="" class="file-close"><%= button_to delete_files_disk_path(file),
                                                          method: :delete,
                                                          data: { confirm: "delete file #{file.filename} from disk?" },
                                                          class: 'button btn btn-icon btn-danger' do %></a>
                  <i class='fa fa-trash'></i>
                <% end %>
                <div class="file-img-box">
                  <%= image_by_file_type(file.content_type) %>
                </div>
            <a href="#" class="file-download"><i class="fa fa-download"></i></a>
            <div class="file-man-title">
              <h5 class="mb-0 text-overflow"><%= file_name_without_ext(file) %></h5>
              <p class="mb-0">
                <small><%= number_to_human_size(file.byte_size) %> <%= file.created_at.strftime("%d %b. %Y") %></small>
              </p>

            </div>
            </div>
          <% end %>
          </div>
      <% end %>
      </div>
  </div>

<% else %>
  <%= render 'form', user: @user %>
<% end %>
